/* @font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v16/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
} */

@font-face {
    font-family: 'Raleway';
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v16/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
  }

@font-face {
    font-family: 'Almarai';
    src: local('Almarai'), local('Almarai-Regular'), url(https://fonts.gstatic.com/s/almarai/v2/tsstApxBaigK_hnnQ1iFo0C3.woff2) format('woff2');
}  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    
}



ul {
    list-style: none;
}

h2, h1 {
    margin: 1%;
}

li {
    padding: 1%;
}

p[dir="rtl"] {
    font-family: 'Almarai', sans-serif;
}

li:hover {
    background-color: rgb(205, 214, 211);
    transition: 0.2s;
}

#grid-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* For display sizes I had 2 columns except 3 because the height of <p>
Here I try to solve this via min-height property */
#grid-floats .grid-item {
    min-height: 450px;
}

.grid-item img {
    width: 90%;
    /* margin: 0 auto; */
}



@media (min-width: 600px) {
    li {
        width: 31.33%;
        margin: 1%;
    }
    
    #grid-floats li {
        float: left;
        
    }
    
    li:first-child, li:nth-child(2) {
        width: 48%;
    }

        
}

@media (min-width: 1024px) {
    li {
        width: 23%;
       
    }
}

